///////////////////////////// Variables  ////////////////////////////////////

$bodyLineHeight: 1.6;
$bodyLetterSpacing: 0.1em;
$anchorTransition: 0.5s;
$anchorHoverTransition: 0.5s;

$pcMinWidth: 768px;
$spMaxWidth: 768px;

///////////////////////////// Media  ////////////////////////////////////

@import "common/maxin";
@import "common/media_query";

///////////////////////////// Common  ////////////////////////////////////

@import "common/reset";
@import "common/all";

///////////////////////////// Header and Nav  ////////////////////////////////////

@import "header/header";
@import "header/nav";

///////////////////////////// TOP  ////////////////////////////////////

@import "top_page/top";

///////////////////////////// SUB  ////////////////////////////////////

@import "sub_pages/contact_us";

///////////////////////////// Footer  ////////////////////////////////////

@import "footer/footer";
