/*********************** Media query ***********************/

@mixin mqPc() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mqSp() {
  @media screen and (max-width: 768px) {
    @content;
  }
}